<body>
  <section class="HEADER_section" mat-dialog-title>
    <mat-icon>edit</mat-icon>
    <h3>Interview details</h3>
  </section>

  <mat-dialog-content class="CONTENT_section">
    <form class="fields" [formGroup]="interviewByIdFormGroup">

      <div class="field">
        <label>
          <span>Status</span>
          <select class="input_field" formControlName="status">
            <option [value]="status" *ngFor="let status of availablesStatus">
              {{ status }}
            </option>
          </select>
        </label>
      </div>

      <div class="field">
        <label>
          <span> Job decription</span>
          <div class="input_field">
            <input type="text" formControlName="description" />
          </div>
        </label>
      </div>

      <div class="field">
        <label>
          <span>Interview date</span>
          <div class="input_field">
            <input class="calendar-input" type="date" formControlName="date" />
          </div>
        </label>
      </div>

      <div class="field">
        <label>
          <span>
            Email
          </span>
          <div class="input_field">
            <input class="calendar-input" formControlName="email" type="text" />
          </div>
        </label>
      </div>

      <div class="field">
        <label>
          <span>
            Job Application ID
          </span>
          <div class="input_field">
            <input class="calendar-input" formControlName="jobApplicationId" type="text" />
          </div>
        </label>
      </div>

    </form>
  </mat-dialog-content>

  <mat-dialog-actions class="footer" align="end">
    <button class="abort-changes-button" mat-flat-button (click)="close()">
      Cancel
    </button>
    <button *ngIf="isAdmin" (click)="submit()" [disabled]="!interviewByIdFormGroupControls.status.dirty" class="save-changes-button" mat-flat-button>
      Submit
    </button>
    <button *ngIf="isAdmin" (click)="delete()" color="warn" mat-flat-button>
      Delete
    </button>
    
  </mat-dialog-actions>
</body>