<mat-toolbar>
  <span>Injob</span>

  <div class="tabs_and_menu_container">
    <div class="tabs_container">
      <button
        mat-button
        [class.selected]="headerPageClicked == tabs.offers"
        (click)="detectTabChange(tabs.offers)"
        routerLink="/jobs-offers"
      >
        Offers
      </button>
      <button
        mat-button
        [class.selected]="headerPageClicked == tabs.second"
        (click)="detectTabChange(tabs.second)"
        routerLink="/second-page-id"
      >
        second
      </button>
    </div>

    <div class="account_container">
      <mat-icon id="avatar">perm_identity</mat-icon>
      <h1>{{ keycloakInstance.profile?.username }}</h1>
    </div>
  </div>
</mat-toolbar>
