<body>
  <section class="HEADER_section" mat-dialog-title>
    <mat-icon>edit</mat-icon>
    <h3>Job offer details</h3>
  </section>

  <mat-dialog-content class="CONTENT_section">
    <form class="fields" [formGroup]="jobOfferByIdFormGroup">

      <div class="field">
        <label>
          <span>Type</span>
          <select class="input_field" formControlName="type">
            <option [value]="type" *ngFor="let type of availablesType">
              {{ type }}
            </option>
          </select>
        </label>
      </div>

      <div class="field">
        <label>
          <span> Job decription</span>
          <div class="input_field">
            <input type="text" formControlName="description" />
          </div>
        </label>
      </div>

      <div class="field">
        <label>
          <span>Publish date</span>
          <div class="input_field">
            <input class="calendar-input" type="date" formControlName="publishDate" />
          </div>
        </label>
      </div>

      <div class="field">
        <label>
          <span>
            Start date
          </span>
          <div class="input_field">
            <input class="calendar-input" formControlName="startDate" type="date" />
          </div>
        </label>
      </div>

      <div class="field">
        <label>
          <span>
            End date
          </span>
          <div class="input_field">
            <input class="calendar-input" formControlName="endDate" type="date" />
          </div>
        </label>
      </div>

    </form>
  </mat-dialog-content>

  <mat-dialog-actions class="footer" align="end">
    <button class="abort-changes-button" mat-flat-button (click)="close('cancel')">
      Cancel
    </button>
    <button *ngIf="isAdmin" (click)="close('submit')" [disabled]="!jobOfferByIdFormGroup.valid" class="save-changes-button" mat-flat-button>
      Submit
    </button>
    <button *ngIf="isAdmin" (click)="close('delete')" color="warn" mat-flat-button>
      Delete
    </button>
    <button *ngIf="isUser" (click)="apply()" color="warn" mat-flat-button>
      Apply
    </button>
  </mat-dialog-actions>
</body>