<div class="main-container">
  <h1>Jobs Offers</h1>
  <button mat-flat-button *ngIf="isAdmin" (click)="openDialog('post-mode')"><mat-icon>add</mat-icon> New job offer </button>

  <table mat-table [dataSource]="filteredData">
    <ng-container matColumnDef="id">
      <th mat-header-cell cdkDrag *matHeaderCellDef mat-sort-header>Id</th>
      <td id="data" mat-cell *matCellDef="let element">
        {{ element.id }}
      </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell cdkDrag *matHeaderCellDef mat-sort-header>Type</th>
      <td mat-cell *matCellDef="let element">{{ element.type }}</td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell cdkDrag *matHeaderCellDef mat-sort-header>
        Description
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.description | capitalizeFirstLetter }}
      </td>
    </ng-container>

    <ng-container matColumnDef="publish">
      <th mat-header-cell cdkDrag *matHeaderCellDef mat-sort-header>Publish</th>
      <td mat-cell *matCellDef="let element">
        {{ element.date_publication }}
      </td>
    </ng-container>

    <ng-container matColumnDef="start date">
      <th mat-header-cell cdkDrag *matHeaderCellDef mat-sort-header>Start date</th>
      <td mat-cell *matCellDef="let element">
        {{ element.date_debut }}
      </td>
    </ng-container>

    <ng-container matColumnDef="end date">
      <th mat-header-cell cdkDrag *matHeaderCellDef mat-sort-header>End date</th>
      <td mat-cell *matCellDef="let element">
        {{ element.date_cloture }}
      </td>
    </ng-container>

    <ng-container>
      <tr mat-header-row *matHeaderRowDef="columns"></tr>
    </ng-container>

    <ng-container>
      <tr mat-row *matRowDef="let row; columns: columns" tabindex="0" (click)="openDialog('edit-mode',row)" (keydown)="onRowKeyDown($event, row.id)"></tr>
    </ng-container>
  </table>
</div>