.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;

    table {
        margin: 2rem;

        tr {
            &:hover {
                background-color: gainsboro;
            }
        }
    }
}